<p>Você foi convidado(a) para participar da turma {{turma}} por {{user}}.</p>

<p>Para se cadastrar e aproveitar essa super oportunidade basta <a href="http://localhost:3000/register"> clicar aqui</a></p>
